@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Arenq';
  src: url('./fonts/arenq.otf');
}

@font-face {
  font-family: 'Mova';
  src: url('./fonts/mova.otf');
}

@font-face {
  font-family: 'Beckman';
  src: url('./fonts/beckman.otf');
}

@font-face {
  font-family: 'Overcame Bold';
  src: url('./fonts/overcame-bold.woff');
}

@font-face {
  font-family: 'Overcame Outline';
  src: url('./fonts/overcame-outline.woff');
}

@font-face {
  font-family: 'Jersey 10';
  src: url('./fonts/Jersey10-Regular.ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-snap-type: y mandatory;
  color-scheme: dark;
}

/* .nav-links::after {
  content: '';
  display: block;
  width: 0;
  height: 3px;
  background: #292929;
  margin: auto;
  transition: 0.5s;
}

.nav-links:hover::after {
  width: 70%;
} */

#about {
  margin-left: -24px;
  font-size: 100px;
}

#projects {
  margin-left: -2px;
  font-size: 100px;
}

#contact {
  margin-left: -20px;
  font-size: 95px;
  letter-spacing: -2px;
}

.hero-heading {
  font-family: '', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}

.hash-span {
  display: block;
}

.vertical-timeline.vertical-timeline-custom-line::before {
  background: rgb(66, 66, 66);
  background: linear-gradient(
    180deg,
    rgba(66, 66, 66, 0.8) 40%,
    rgba(234, 234, 236, 0.45) 100%
  );
}

.vertical-timeline-element-icon {
  box-shadow: 0 0 0 4px #afafafd2, inset 0 2px 0 rgba(0, 0, 0, 0.08),
    0 3px 0 4px rgba(0, 0, 0, 0.05);
}

.glassmorphism {
  background: rgba(20, 20, 20, 0.7);
  box-shadow: 0 8px 32px 0 rgba(133, 133, 133, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.card-shadow {
  box-shadow: rgba(155, 155, 155, 0.3) 0 2px 6px,
    rgba(155, 155, 155, 0.22) 0 0 4px;
  border-radius: 24px;
}

.black-gradient {
  background: #000000;
  background: -webkit-linear-gradient(to right, #434343, #000000);
  background: linear-gradient(to right, #434343, #000000);
}

.bw-gradient {
  background: rgb(10, 10, 10);
  background: linear-gradient(
    180deg,
    rgba(10, 10, 10, 0.8) 40%,
    rgba(153, 153, 161, 0) 70%
  );
}

.card-gradient {
  background: rgb(244, 244, 246);
  background: linear-gradient(
    158deg,
    rgba(153, 153, 161, 1) 25%,
    rgba(153, 153, 161, 1) 100%
  );
}

.border-8bit-title {
  background-color: #1c3b7d85;
  box-shadow:
    4px 0 white,
   -4px 0 white,
    0 -4px white,
    0 4px white,
    8px 0 rgba(0, 0, 255, 0.5),
   -8px 0 rgba(0, 0, 255, 0.5),
    0 -8px rgba(0, 0, 255, 0.5),
    0 8px rgba(0, 0, 255, 0.5),
    0 0 0 4px rgba(0, 0, 255, 0.5);
  padding-inline: 20px;
  margin-bottom: 30px;
  width: 100%;
  color: white;
}

.border-8bit {
  background-color: rgba(0, 0, 0, 0.7);
  box-shadow:
    4px 0 rgba(255, 255, 255, 0.6),
   -4px 0 rgba(255, 255, 255, 0.6),
    0 -4px rgba(255, 255, 255, 0.6),
    0 4px rgba(255, 255, 255, 0.6),
    8px 0 rgba(0, 0, 255, 0.274),
   -8px 0 rgba(0, 0, 255, 0.5),
    0 -8px rgba(0, 0, 255, 0.5),
    0 8px rgba(0, 0, 255, 0.5),
    0 0 0 4px rgba(0, 0, 255, 0.5);
  max-width: 1500px;
  width: fit-content;
  padding: 50px;
  color: white;
}

section {
    scroll-snap-align: start;
    min-height: 100vh;
}


nav a {
  background: linear-gradient(to right, #4397BF,#CB4484,#4397BF);
  background-size: 200% 200%;
  animation: rainbow 2s ease-in-out infinite;
  background-clip: text;
  -webkit-background-clip:text;
  transition: color .2s ease-in-out;
  text-transform:uppercase;
}

nav a:hover{
  color:rgba(0,0,0,0);
}
@keyframes rainbow { 
  0%{background-position:left}
  50%{background-position:right}
  100%{background-position:left}
}
