/* ------------------- GENERAL ------------------- */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Jersey 10';
  src: url('./fonts/Jersey10-Regular.ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color-scheme: dark;
}

@media (min-width: 1025px ) {
  * {
   scroll-snap-type: y mandatory;
  }
}

.border-8bit-title {
  background-color: #1c3b7d85;
  box-shadow:
    4px 0 white,
   -4px 0 white,
    0 -4px white,
    0 4px white,
    8px 0 rgba(0, 0, 255, 0.5),
   -8px 0 rgba(0, 0, 255, 0.5),
    0 -8px rgba(0, 0, 255, 0.5),
    0 8px rgba(0, 0, 255, 0.5),
    0 0 0 4px rgba(0, 0, 255, 0.5);
  padding-inline: 20px;
  margin-bottom: 30px;
  width: 100%;
  color: white;
}

.border-8bit {
  box-shadow:
    4px 0 rgba(255, 255, 255, 0.6),
   -4px 0 rgba(255, 255, 255, 0.6),
    0 -4px rgba(255, 255, 255, 0.6),
    0 4px rgba(255, 255, 255, 0.6),
    8px 0 rgba(0, 0, 255, 0.274),
   -8px 0 rgba(0, 0, 255, 0.5),
    0 -8px rgba(0, 0, 255, 0.5),
    0 8px rgba(0, 0, 255, 0.5),
    0 0 0 4px rgba(0, 0, 255, 0.5);
  color: white;
}

section {
    scroll-snap-align: start;
    min-height: 100vh;
    padding: 80px 50px 0;
}

@media (max-width: 639px ){
  #contact {
    padding: 35px 50px 0;
}
}

/* ------------------- NAVBAR ------------------- */

nav a {
  background: linear-gradient(to right, #4397BF,#CB4484,#4397BF);
  background-size: 200% 200%;
  animation: rainbow 2s ease-in-out infinite;
  background-clip: text;
  -webkit-background-clip:text;
  transition: color .2s ease-in-out;
  text-transform:uppercase;
}

nav a:hover{
  color:rgba(0,0,0,0);
}
@keyframes rainbow {
  0%{background-position:left}
  50%{background-position:right}
  100%{background-position:left}
}


/* ------------------- HERO ------------------- */

.hero-heading {
  font-family: '', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}

/* ------------------- TIMELINE ------------------- */

.vertical-timeline.vertical-timeline-custom-line::before {
  background: #305fc785;
}

@media (min-width: 1025px ) {
  .vertical-timeline.vertical-timeline-custom-line::before {
    height: 630px;
  }
}

.vertical-timeline-element-icon {
  box-shadow: 0 0 0 4px #305fc7, inset 0 2px 0 rgba(0, 0, 0, 0.08),
    0 3px 0 4px rgba(0, 0, 0, 0.05);
}

.card-shadow {
  box-shadow: rgba(155, 155, 155, 0.3) 0 2px 6px,
    rgba(155, 155, 155, 0.22) 0 0 4px;
  border-radius: 24px;
}

/* ------------------- FOOTER ------------------- */

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

footer p {
  position: absolute;
  bottom: 14px;
  width: 100%;
  text-align: center;
}

footer a {
  color: #649EB9;
}

footer a:hover {
  color: #DB4A91;
}

/* ------------------- FORMULAIRE ------------------- */

.input-group {
  position: relative;
  margin-top: 30px;
}

@media (min-width: 1025px ) {
  .input-group {
    margin-top: 50px;
}
}

.input-group input,
.input-group textarea {
  width: 100%;
  font-size: 16px;
  color: #fff;
  padding: 20px 15px 0 15px;
  background: #1c3b7d85;
  border-radius: 5px;
  outline: 4px solid white;
  transition: outline-color 0.3s ease;
  box-shadow:
    4px 0 white, -4px 0 white,
    0 -4px white, 0 4px white,
    8px 0 rgba(0, 0, 255, 0.5), -8px 0 rgba(0, 0, 255, 0.5),
    0 -8px rgba(0, 0, 255, 0.5), 0 8px rgba(0, 0, 255, 0.5),
    0 0 0 4px rgba(0, 0, 255, 0.5);
}

/* --- OUTLINE --- */
.input-group input:focus:invalid,
.input-group textarea:focus:invalid {
  outline-color: #0ef;
}

.input-group input:invalid:not(:placeholder-shown),
.input-group textarea:invalid:not(:placeholder-shown) {
  outline-color: rgb(231, 96, 96);
}

.input-group input:valid:not(:placeholder-shown),
.input-group textarea:valid:not(:placeholder-shown) {
  outline-color: rgb(127, 224, 127);
}

/* --- LABEL --- */

.input-group label {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  font-size: 20px;
  pointer-events: none;
  background: transparent;
  transition: all 0.3s ease-in-out;
  padding: 0 5px;
}

/* --- LABEL FLOTTANT --- */

.input-group input:focus + label,
.input-group input:not(:placeholder-shown) + label,
.input-group textarea:focus + label,
.input-group textarea:not(:placeholder-shown) + label {
  top: 0;
  transform: translateY(-50%);
  background: #1c224f;
  font-size: 16px;
  padding: 0 0.5em;
  border-radius: 5px;
  border: 1px solid;
}

/* --- LABEL BLEU au focus --- */

.input-group input:focus + label,
.input-group textarea:focus + label {
  border-color: #0ef;
  box-shadow:
    2px 0 #0ef, -2px 0 #0ef,
    0 -2px #0ef, 0 2px #0ef,
    4px 0 rgba(0, 0, 255, 0.5), -4px 0 rgba(0, 0, 255, 0.5),
    0 -4px rgba(0, 0, 255, 0.5), 0 4px rgba(0, 0, 255, 0.5);
}

/* --- LABEL ROUGE si champ invalide --- */

.input-group input:invalid:not(:placeholder-shown) + label,
.input-group textarea:invalid:not(:placeholder-shown) + label {
  border-color: rgb(231, 96, 96);
  box-shadow:
    2px 0 rgb(231, 96, 96), -2px 0 rgb(231, 96, 96),
    0 -2px rgb(231, 96, 96), 0 2px rgb(231, 96, 96),
    4px 0 rgba(255, 0, 0, 0.5), -4px 0 rgba(255, 0, 0, 0.5),
    0 -4px rgba(255, 0, 0, 0.5), 0 4px rgba(255, 0, 0, 0.5);
}

/* --- LABEL VERT si champ valide --- */

.input-group input:valid:not(:placeholder-shown) + label,
.input-group textarea:valid:not(:placeholder-shown) + label {
  border-color: rgb(127, 224, 127);
  box-shadow:
    2px 0 rgb(127, 224, 127), -2px 0 rgb(127, 224, 127),
    0 -2px rgb(127, 224, 127), 0 2px rgb(127, 224, 127),
    4px 0 rgba(0, 128, 0, 0.5), -4px 0 rgba(0, 128, 0, 0.5),
    0 -4px rgba(0, 128, 0, 0.5), 0 4px rgba(0, 128, 0, 0.5);
}

